body {
  background-color: rgb(24, 174, 182);
  background-image: url(./imagenes/game.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App {
  text-align: center;
}

.App-header {
  color: rgb(138, 19, 19);
  font-size: 3rem;
  font-weight: 60;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 2%;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}

input {
  text-align: center;
  margin: 10px;
  padding: 3px;
  width: 230px;
  font-size: medium;
}

button {
  width: 300px;
}
h1{
  font: oblique bold ;
  font-size: 120%;
  color: rgb(111, 21, 119);
  text-shadow: 4px -2px 1.3px rgb(221, 203, 203);
}

#botonreiniciar{
  font-weight: bold;
  text-align: center;
  justify-content: center;
  font-size: 100%;
  border-radius: 8px;
  width: 270px;
  height: 50px;
  background-color:rgb(240, 133, 11);
}
#nombre{
  font: oblique bold;
  font-weight: bold;
  font-size: 115%;
  color: rgb(10, 10, 10);
  text-shadow: 4px -2px 1.3px rgb(31, 221, 40);
}
#usuario{
  font: oblique bold;
  font-weight: bold;
  font-size: 115%;
  color: rgb(10, 10, 10);
  text-shadow: 4px -2px 1.3px rgb(31, 221, 40);
}

#computadora{
  font: oblique bold;
  font-weight: bold;
  font-size: 115%;
  color: rgb(17, 4, 19);
  text-shadow: 4px -2px 1.3px rgb(192, 219, 37);

}
#ganador{
  font: oblique bold ;
  font-size: 160%;
  color: rgb(10, 10, 10);
  text-shadow: 4px -2px 1.3px rgb(192, 219, 37);

}
#resultado{
  font: oblique bold;
  font-weight: bold;
  color: rgb(10, 10, 10);
  text-shadow: 4px -2px 1.3px rgb(31, 221, 221);

}
#papel{
  border-radius: 20px;
  border-width: 10px;
  border-color: red;
}
#piedra{
  border-radius: 20px;
  border-width: 10px;
  border-color: blue;
}
#tijera{
  border-radius: 20px;
  border-width: 10px;
  border-color: green;
}